<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li>
        <a href="/legal!natural"><i class="fa fa-diamond"></i> <span class="nav-label">Legal</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/legal!natural">Inversionistas</a></li>
          <li><a href="/legal/documentos-empresas">Documentos Empresas</a></li>
          <li><a href="/legal/formatos">Formatos</a></li>
          <li><a href="/legal/deberes-legales">Deberes Legales</a></li>
          <li><a href="/legal/leyes-y-normas">Leyes y Normas</a></li>
<!--          <li><a href="/legal/reportes">Registro</a></li>-->
        </ul>
      </li>
      <li>
        <a href="/operaciones!natural"><i class="fa fa-diamond"></i> <span class="nav-label">Operaciones</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/operaciones!natural">Creación de Cuentas</a></li>
          <li><a href="/operaciones!natural/conciliacion-pagos">Conciliación de Pagos</a></li>
          <li><a href="/operaciones!natural/solicitud-rescate">Rescate de Unidades</a></li>
          <!--          <li><a href="/legal/reportes">Registro</a></li>-->
        </ul>
      </li>
      <li>
        <a href="/tesoreria!natural"><i class="fa fa-diamond"></i> <span class="nav-label">Tesoreria</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/tesoreria!natural">Asignación de Unidades</a></li>
          <li><a href="/tesoreria!natural/rescate">Rescate de unidades</a></li>
          <!--          <li><a href="/legal/reportes">Registro</a></li>-->
        </ul>
      </li>
      <li>
        <a><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Personal</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a href="/personal/logout">Cerrar sesión</a></li>
          <li><a href="/personal/create">Registrar Personal</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
