# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# Archivos
archivos/comprobantes-pago
archivos/deberes-legales
archivos/documentos-empresas
archivos/formatos
archivos/leyes-y-normas

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea
