<h1>Unidades de Inversión Asignadas</h1>
<p>Nos alegramos en informarle que se le asignaron las unidades de inversión que solicito.</p>
<ul>
  <li>Cantidad de Unidades: {{solicitud.cantidad_unidades_inversion}}</li>
  <li>Fecha de Solicitud: {{solicitud.created_at}}</li>
</ul>
<p>Gracias por usar y preferir a PerCapital.</p>

